<%= error_messages_for(@pin) %>

<form summary="Pin form fields">
  <div>
    <%= label(:pin, :position) %>
    <%= text_field(:pin, :position) %>
  </div>
  <div>
    <%= label(:pin, :description) %>
    <%= text_field(:pin, :description) %>
  </div>
  <div>
    <%= label(:pin, :card_id) %>
    <%= text_field(:pin, :card_id) %>
  </div>
</table>
