<% title "My Pins" %>

<div class="cards index">

  <div class="span12 pagination-centered" >
    <%= image_tag('script_logo_noback.png', :size => '223x107', :alt => '<h1>PinVoyage</h1>') %>
    <br><br>
    <%= link_to("Add Pin", {:controller => 'cards', :action => 'new'}, :class => 'btn') %>
    <br><br>

    <div id="PinContainer" class="transitions-enabled centered clearfix masonry">
      <% @pins.each do |pin| %>
        <div class="box col4" id="<%= pin.id.to_s %>" style="text-align:left">
          <%= image_tag pin.card.card_image.url(:medium) %>
          <h4 style="display:inline"><%= pin.card.place.name %></h4>
          <p style="display:inline; float:right"><%= pin.card.place.location_type %></p>
          <p><%= pin.card.text %></p>
          <p><%= pin.description %></p>
          <div style="float: left">
            <%= link_to("Pin It", {:action => 'repin', :id => pin.id, :desicription => pin.description}, :class => 'btn btn-xs btn-danger') %>
          </div>
          <div style="float: right">
            <%= link_to(raw('<i class="icon-eye-open"></i>'), {:action => 'show', :id => pin.id}) %>
            <%= link_to(raw('<i class="icon-pencil"></i>'), {:action => 'edit', :id => pin.id}) %>
            <%= link_to(raw('<i class="icon-trash"></i>'), {:action => 'delete', :id => pin.id}) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

