<% title "Browse Pins" %>

<div class="container-fluid" style="padding-top: 40px">

  <div class="cards index">

    <div class="span12 pagination-centered" >
      <%= image_tag('script_logo_noback.png', :size => '223x107', :alt => '<h1>PinVoyage</h1>') %>
      <br><br>


      <%= form_tag browse_pins_path, :class => "form-inline", :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :class => "btn", :name => nil %>
        </p>
      <% end %>

      <%= link_to_next_page @pins, 'Next Page' %>


      <%= link_to("Add Pin", {:controller => 'cards', :action => 'new'}, :class => 'btn') %>
      <br><br>

      <div id="PinContainer" class="transitions-enabled centered clearfix masonry">
        <% @pins.each do |pin| %>
          <div class="box col4" id="<%= pin.id.to_s %>" style="text-align:left">

            <%= render(:partial => "pin_core", :locals => {:pin => pin})  %>

            <br>
            
            <%= render(:partial => "browse_actions", :locals => {:pin => pin})  %>
            
          </div>
        <% end %>
      </div>

      <nav id="page-nav">
        <%= link_to_next_page @pins, '' %>
      </nav>

    </div>

  </div>
</div>

