<% title "Browse Pins" %>

<div class="pagination-centered" style="padding-top: 40px">

  <%= image_tag('script_logo_noback.png', :size => '223x107', :alt => '<h1>PinVoyage</h1>') %>
  <br><br>

  <%= render(:partial => "header", :locals => {:searchpath => browse_pins_path})  %>

  <div id="PinContainer" class="transitions-enabled centered pagination-centered clearfix masonry">
    <% @pins.each do |pin| %>
      <div class="box" id="<%= pin.id.to_s %>" style="text-align:left">

        <%= render(:partial => "pin_core", :locals => {:pin => pin})  %>

        <br>
        
        <%= render(:partial => "browse_actions", :locals => {:pin => pin})  %>
        
      </div>
    <% end %>
  </div>

  <nav id="page-nav">
    <%= link_to_next_page @pins, '' %>
  </nav>

</div>

