<%= error_messages_for(@user) %>

<table summary="User form fields">
	<div>
		<%= label_tag(:first_name) %>
		<%= f.text_field(:first_name) %>
	</div>
	<div>
		<%= label_tag(:last_name) %>
		<%= f.text_field(:last_name) %>
	</div>
	<div>
		<%= label_tag(:email) %>
		<%= f.text_field(:email) %>
	</div>
	<div>
		<%= label_tag(:username) %>
		<%= f.text_field(:username) %>
	</div>
	<div>
		<%= label_tag(:password) %>
		<%= f.password_field(:password) %>
	</div>
	<div>
		<%= label_tag(:password_confirmation) %>
		<%= f.password_field(:password_confirmation) %>
	</div>
</table>