<%= bootstrap_flash %>
<%= error_messages_for(@card) %>
	
<%= label(:place, :name, "Name of Place") %>
<%= text_field(:place, :name, :style => "text-align:center") %>

<label>Location</label>
<input id="geocomplete" type="text" placeholder="Address or City" style="text-align:center" /><br>
<br>

<div>
<%= label(:place, :location_type, "Type") %>

	<%= radio_button(:place, :location_type, 'restaurant', :class => "radio") %> 
	<%= label(:place, :location_type, "Restaurant", :class => "radio inline") %>

	<%= radio_button(:place, :location_type, 'lodging', :class => "radio") %>
	<%= label(:place, :location_type, "Lodging", :class => "radio inline") %>

	<%= radio_button(:place, :location_type, 'bar', :class => "radio") %>
	<%= label(:place, :location_type, "Bar", :class => "radio inline") %>

	<%= radio_button(:place, :location_type, 'shop', :class => "radio") %>
	<%= label(:place, :location_type, "Shop", :class => "radio inline") %>

	<%= radio_button(:place, :location_type, 'site', :class => "radio") %>
	<%= label(:place, :location_type, "Site", :class => "radio inline") %>

	<%= radio_button(:place, :location_type, 'activity', :class => "radio") %>
	<%= label(:place, :location_type, "Activity", :class => "radio inline") %>
</div>
<br>

<div id="map_canvas" ></div>

<%= text_field(:place, :city, :geodata => "locality", :type => "hidden", :style => "text-align:center") %><br>

<%= text_field(:place, :country, :geodata => "country", :type => "hidden", :style => "text-align:center") %>

<%= f.label(:text, "Description") %>
<%= f.text_area(:text, :rows => '3', :style => "width:100%") %>

<div id="photo_attachment_container">
   <%= f.file_field :card_image %>
</div>

<!-- Note: markers are built in the card controller -->
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map_canvas'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
