<%= bootstrap_flash %>
<%= error_messages_for(@card) %>
<%= error_messages_for(@place) %>
	
<%= label(:place, :name, "Name of Place") %>

<%= text_field(:place, :name, :id => "geocomplete") %>

<input id="find" type="button" value="find" class="btn" />
 
<div id="map", style="width:300px; height: 250px"></div>

<div>
	<%= render(:partial => "places/place_types", :locals => {:f => f})  %>
</div>

<br>
<div>
	<%= label(:place, :city) %>
	<%= text_field(:place, :city) %>
</div>
<div>
	<%= label(:place, :country) %>
	<%= text_field(:place, :country) %>
</div>
<div>
	<%= f.label(:text, "Description") %>
	<%= f.text_area(:text) %>
</div>
<div id="photo_attachment_container">
   <%= f.file_field :card_image %>
</div>
