<% title "Edit Pin" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="card edit">
	<h2>Edit your Pin</h2>

	<%= form_for(:card, :url => {:action => 'update', :id => @card.id}) do |f| %>

	<table summary="Card form fields">
		<tr>
			<th>Place ID</th>
			<td><%= f.text_field(:place_id) %></td>
		</tr>
		<tr>
			<th>Text</th>
			<td><%= f.text_field(:text) %></td>
		</tr>
	</table>

	<div class="form-buttons">
		<%= submit_tag("Edit Card") %>
	</div>

	<% end %>
</div>
