<% @page_title = "Pins" %>

<div class="cards index">

	<%= link_to("Create new pin", {:action => 'new'}, :class => 'action new') %>

	<table class="listing" summary="Card list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Type</th>
			<th>Text</th>
			<th>Actions</th>
		</tr>
		<% @cards.each do |card| %>
			<tr>
				<td><%= card.place_id %></td>
				<td><%= card.place.name %></td>
				<td><%= card.place.location_type %></td>
				<td><%= card.text %></td>
				<td class="actions">
					<%= link_to("Show", {:action => 'show', :id => card.id}, :class => 'action show') %>
					<%= link_to("Edit", {:action => 'edit', :id => card.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete', :id => card.id}, :class => 'action delete') %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
