<% title "Cards" %>

<div class="cards index">

	<div class="span12 pagination-centered" >
		<%= image_tag('script_logo_noback.png', :size => '223x107', :alt => '<h1>PinVoyage</h1>') %>
		<br><br>
		<%= link_to("Add Pin", {:controller => 'cards', :action => 'new'}, :class => 'btn') %>
		<br><br>

		<table class="table" summary="Card list">
			<tr class="header">
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Type</th>
				<th>Text</th>
				<th>Actions</th>
			</tr>
			<% @cards.each do |card| %>
				<tr>
					<td><%= card.place_id %></td>
					<td><%= card.place.name %></td>
					<td><%= card.place.location_type %></td>
					<td><%= image_tag card.card_image.url(:medium) %></td>
					<td><%= card.text %></td>
					<td class="actions">
						<%= link_to("Show", {:action => 'show', :id => card.id}, :class => 'btn btn-small') %>
						<%= link_to("Edit", {:action => 'edit', :id => card.id}, :class => 'btn btn-small') %>
						<%= link_to("Delete", {:action => 'delete', :id => card.id}, :class => 'btn btn-small btn-danger') %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
