	<table summary="Place form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Type</th>
			<td><%= f.text_field(:location_type) %></td>
		</tr>
		<tr>
			<th>Latitude</th>
			<td><%= f.text_field(:latitude) %></td>
		</tr>
		<tr>
			<th>Longitude</th>
			<td><%= f.text_field(:longitude) %></td>
		</tr>
		<tr>
			<th>Zip</th>
			<td><%= f.text_field(:zip_code) %></td>
		</tr>
		<tr>
			<th>Country Code</th>
			<td><%= f.text_field(:country_code) %></td>
		</tr>
	</table>