<% title "Places" %>

<div class="places index">
	<h2>Places</h2>

	<%= link_to("Add New Place", {:controller => 'cards', :action => 'new'}, :class => 'action new') %>

	<table class="table" summary="Place list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>City</th>
			<th>Country</th>
			<th>Type</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Actions</th>
		</tr>
		<% @places.each do |place| %>
		<tr>
			<td><%= place.id %></td>
			<td><%= place.name %></td>
			<td><%= place.city %></td>
			<td><%= place.country %></td>
			<td><%= place.location_type %></td>
			<td><%= place.latitude %></td>
			<td><%= place.longitude %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => place.id}, :class => 'btn btn-small action') %>
				<%= link_to("Edit", {:action => 'edit', :id => place.id}, :class => 'btn btn-small action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => place.id}, :class => 'btn btn-small btn-danger action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>

