<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Welcome to PinVoyage</h1>
  <p class="lead">PinVoyage helps you keep track of all the places you'd like to see around the world so that you can make sure to visit them all some day. Pin today, travel tomorrow.</p>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Sign up" %></div>
	  <%= render "users/shared/links" %>
	<% end %>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>Pin Cool Places</h2>
    <p>Never lose track of the places you want to go. Add your own places, or follow others with great taste. Make sure you'll have cool places no matter where your travels take you.</p>
  </div>
  <div class="span4">
    <h2>Plan Trips</h2>
    <p>Instead of trying to find great places when you reach your destination, why not travel to places where you've accumulated places to visit. PinVoyage makes it easy.</p>
 </div>
  <div class="span4">
    <h2>Let us Organize</h2>
    <p>Just pin every place that interests you. You don't have to think about organizing. Our maps and search functions will make sure you can find the places you need when planning or trip or on the ground.</p>
  </div>
</div>


